body {
  font-family: "Ubuntu";
}

h1 {
  color: white;
  text-align: center;
  background-color: lightcoral;
  border: solid 3px indianred;
}

h2 {
  color: white;
  text-align: center;
  background-color: limegreen;
  border: solid 3px mediumseagreen;
}

h1, h2 {
  margin: 3px 0px;
}

ul {
  list-style-type: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

footer {
  color: white;
}

li, #accueil, footer {
  text-align: center;
  background-color: deepskyblue;
  border: solid 3px dodgerblue;
  margin: 3px 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.comment {
  font-size: small;
  color: black;
  border: solid 1px black;
  margin: 3px 3px;
}

form {
  font-size: small;
}

textarea {
  resize: none;
}

label, input, textarea {
  display: block;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

input[type="submit"] {
  margin-bottom: 3px;
}